SECRET_KEY=YOUR_SECRET_KEY


#DATABASE
NAME=YOUR_DB_NAME
USER=YOUR_USER_NAME
PASSWORD=YOUR_PASSWORD
HOST=YOUR_HOST
PORT=YOUR_PORT

#STRIPE
STRIPE_PUBLIC_KEY=YOUR_STRIPE_PUBLIC_KEY
STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY

CELERY_BROKER_URL=YOUR_BROKER
CELERY_RESULT_BACKEND=YOUR_BACKEND

#Email
EMAIL_HOST = # Например, 'smtp.mail.ru'
EMAIL_PORT = # Например, 465 если использовать SSL, и 587 для TLS
EMAIL_USE_SSL = # True, если использовать SSL
EMAIL_HOST_USER =  # Ваша почта, например 'your_email@mail.ru'
EMAIL_HOST_PASSWORD = 'app_password'
DEFAULT_FROM_EMAIL = 'your_email@mail.ru'