SECRET_KEY=YOUR_SECRET_KEY


#DATABASE
NAME=YOUR_DB_NAME
USER=YOUR_USER_NAME
PASSWORD=YOUR_PASSWORD
HOST=YOUR_HOST
PORT=YOUR_PORT

#STRIPE
STRIPE_PUBLIC_KEY=YOUR_STRIPE_PUBLIC_KEY
STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY